:root {
  --header-bg-color: #aed8cc;
  --header-nav-font-color: #f25287;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("img/cat-sweet-shop.png");
  background-size: contain;
  background-position: center;
}

#header {
  background-color: var(--header-bg-color);
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 20px;
}

#header-nav {
  display: flex;
  align-items: center;
  gap: 10%;
}

#header > #title {
  color: #cd6688;
  opacity: unset;
  font-size: 2.5rem;
  position: relative;
  left: 20%;
}

#header-nav > .header-nav-item {
  color: var(--header-nav-font-color);
  background-color: transparent;
  border-color: var(--header-bg-color);
  outline: none;
  border-style: none;
  font-size: 1.5rem;
}

#header-nav > .header-nav-item.selected {
  border-bottom: 2px solid var(--header-nav-font-color);
}
